<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>New Comment</strong>
    <%= comment.body %>
  </p>
  <p>
    <strong>Posted</strong>
    <%= comment.created_at %>
  </p>
<% end %>

<%= form_for([@post, @post.comments.build], remote:true)  do |f| %>
  <p>
    <%= f.label :body, "New Comment" %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
